* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.airbnb-block {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.airbnb-block:first-of-type {
  background-image: url("../img/amsterdam.jpeg");
}

.airbnb-block:nth-last-child(2) {
  background-image: url("../img/new york.jpg");
}

.airbnb-block:last-child {
  background-image: url("../img/roma.jpg");
}

.block-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
}
